.question-wrapper{
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.header{
  height: 26px;
  color: #333;
  font-weight: 700;
  background-color: #f5f5f5;
  padding: 15px;
  font-size: 16px;
  line-height: 26px;
}
.question-main{
  padding: 15px;
  scroll-snap-type:y mandatory;
  overflow-y: auto;
}
.label-correct {
  color: #0f5132;
  background-color: #d1e7dd;
}
.body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
input[type="checkbox"]{
  display: none;
}
input[type="checkbox"]:checked + label{
    border: 1px solid #009688;
    color: #009688;
}
.label{
  display: block;
  padding: 5px 5px 5px 15px;
  border: 1px solid #e0e0e0;
  color: #333;
  cursor: pointer;
  border-radius: 4px;
  width: 80%;
  align-items: left;
  margin-bottom: 5px;
}
.multiple-answer-options{
  margin-top: 15px;
}
.answer-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin:20px auto;
  padding: .9em 2em;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
  max-width: 400px;
  color: #000;
  font-size: 1em;
}
.questionResult{
  margin-top: 10px;
}
.resultContent{
  padding: 20px 15px 15px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}
.desc{
  background-color: #f5f5f5;
  box-sizing: border-box;
  border: 1px solid #cfd8dc;
  margin-bottom: 1rem;
}
.desc--title{
  width: 100%;
  height: 40px;
  color: #333;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #e0e0e0;
  padding: 10px 15px;
  box-sizing: border-box;
}
.desc--main{
  background-color: #fff;
  padding: 10px 15px;
  box-sizing: border-box;
}
.descContent{
  margin-bottom: 15px;
}
.descContent--title{
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
  border-bottom: 1px solid #cfd8dc;
  padding: 0 0 10px;
  color: #333;
}
.descContent--detail{
  padding: 10px 0 0;
  font-size: 16px;
  line-height: 26px;
}
.desc--contentMultipleDetail{
  margin-bottom: 1rem;
}
.explanation {
    display: none;
}
.descContent {
    margin-bottom: 15px;
}
.descContent--title {
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #cfd8dc;
    padding: 0 0 10px;
    color: #333;
}
.descContent--detail {
    padding: 10px 0 0;
    font-size: 16px;
    line-height: 26px;
}
.question-nav__number {
    height: 25px;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    line-height: 25px;
    font-size: 1.4rem;
}
img {
    cursor: pointer;
    max-width: 200px;
    margin-top: 10px;
}
.question-nav {
    margin-top: 30px;
    margin-bottom: 15px;
}
