{% extends "base.html" %}
{% load static %}
{% load quiz_extra %}
{% block head %}
    <title>トップページ</title>
{% endblock %}
{% block content %}
<main>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">過去問演習</h1>
        <p class="col-md-8 fs-4">答えを閲覧したり、問題を解いたりできます</p>
        <a href="{% url 'subject_list' %}" class="btn btn-primary btn-lg">教科を選ぶ</a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>問題を追加</h2>
          <p>フォームに入力したり、文章ファイルからの読み込みもできます</p>
          <a href="#" class="btn text-Light btn-lg btn-light fw-bold border-white bg-dark">About</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>問題を編集</h2>
          <p>年度間で同じ問題は一つにまとめましょう</p>
          <a href="#" class="btn text-dark btn-lg btn-light fw-bold border-dark bg-Light">編集する</a>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-body-secondary border-top">
      &copy; 2023
    </footer>
  </div>
</main>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
