{% extends "base.html" %}
{% load static %}
{% block head %}
    <title>{{ subject.name }}</title>
    <link rel="stylesheet" href="{% static 'css/list-groups.css' %}">
{% endblock %}
{% block content %}
<main>
  <section class="pt-5 text-center container">
    <div class="row pt-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light pb-3">{{ subject.name }}</h1>
        <p>
          <a href="{% url 'start_question' subject_id=subject.id %}" class="btn btn-primary">{{ subject.name }}の問題を全て解く</a>
        </p>
      </div>
    </div>
  </section>
  <div class="d-flex flex-column flex-md-row p-2 gap-4 justify-content-center">
  <div class="list-group justify-content-left">
    <h2 class="pb-2 border-bottom">分野一覧</h2>
    {% for field in fields %}
    <a href="{% url 'field_questions' field_id=field.pk %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="/static/img/book.png" alt="twbs" width="32" height="32" class="flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">{{ field.name }}</h6>
        </div>
      </div>
    </a>
    {% empty %}
    {% endfor %}
  </div>
  <div class="list-group justify-content-right">
    <h2 class="pb-2 border-bottom">年度一覧</h2>
    {% for year in years|dictsort:"year" %}
    <a href="{% url 'year_questions' subject_id=subject.id year_id=year.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="/static/img/pen.png" alt="twbs" width="32" height="32" class="flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">{{ year.year }}年度</h6>
        </div>
      </div>
    </a>
    {% empty %}
    {% endfor %}
  </div>
</div>
</main>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
