{% extends "base.html" %}
{% load static %}
{% load quiz_extra %}
{% block head %}
    <title>Word文書アップロード</title>
{% endblock %}
{% block content %}
    <h2>Word文書をアップロードして内容を抽出</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
          <tr>
            <!-- 科目 -->
            <td class="right"><label for="{{ form.subject.id_for_label }}">科目</label></td>
            <td>{{ form.subject }}</td>
          </tr>
        </table>
        <input type="file" name="docx_file" accept=".docx" required>
        <br>
        <input type="submit" value="アップロード">
    </form>
{% endblock %}
