<!DOCTYPE html>
{% extends "base.html" %}
{% load quiz_extra %}
{% load static %}
{% block head %}
<title>{{ subject.name }}の{{ year.year }}年度の問題</title>
<link rel="stylesheet" href="{% static 'css/list-groups.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<main>
  <section class="pt-5 text-center container">
    <div class="row pt-lg-5">
      <div class="col-lg-12 col-md-12 mx-auto">
        <h1 class="fw-light pb-3">{{ subject.name }}の{{ year.year }}年度の問題</h1>
        <p>
          <a href="{% url 'start_question_year' subject_id=subject.id year_id=year.id %}" class="btn mb-4 btn-primary">{{ year.year }}年度の問題を全て解く</a>
        </p>
      </div>
    </div>
  </section>
  <div class="d-flex mb-3 justify-content-center">
    <div class="list-group" style="max-width: 90%;!important">
        {% for question_instance in question_instances %}
        <div>
          <div>{{ question_instance.question_number }}. {{ question_instance.question.question_text }}({% for ye in question_instance.question.questioninstance_set.all|dictsort:"year_id" %}{{ ye.year }}-{{ ye.question_number }}{% if not forloop.last %}, {% endif %}{% endfor %})</div>
          {% if question_instance.question.question_image %}
          <a href="{{ question_instance.question.question_image.url }}" data-lightbox="image{{ question_instance.question_number }}">
            <img src="{{ question_instance.question.question_image.url }}" alt="Question Image" style="cursor: pointer; max-width: 300px; margin-top: 10px;">
          </a>
          {% endif %}
          <ul style="list-style: none; padding-left:0px;!important">
            {% for choice in question_instance.question.choiceexplanation_set.all %}
              <li>{{ forloop.counter0|chr }}. {{ choice.choice_text }}</li>
            {% endfor %}
          </ul>
          <div style="text-align: right;">答. {{ question_instance.question.correct_choices|join:"," }}
          </div>
          <div style="text-align: right;">{% if question_instance.question.explanation != "" and question_instance.question.explanation != None %}{{ question_instance.question.explanation }}{% endif %}</div>
          <div style="text-align: right;">
            {% for choice in question_instance.question.choiceexplanation_set.all %}
              {% if choice.explanation_text != "" and choice.explanation_text != None %}
                {{ forloop.counter0|chr }}. {{ choice.explanation_text }}
              {% endif %}
            {% endfor %}
          </div>
          <div style="text-align: right;">{{ question_instance.question.field }}</div>
        </div><br>
        {% empty %}
        <p>問題がありません</p>
        {% endfor %}
    </div>
  </div>
</main>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
// ページを離れる前にスクロール位置を保存
window.addEventListener('beforeunload', function() {
  localStorage.setItem('scrollPosition', window.scrollY);
});

// ページに戻ったときにスクロール位置を復元
window.addEventListener('load', function() {
  var scrollPosition = localStorage.getItem('scrollPosition');
  if (scrollPosition) {
    window.scrollTo(0, scrollPosition);
  }
});
</script>
{% endblock %}
